<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sbhacks.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="BitPic"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <!-- snapkit stuff -->
        <meta-data
            android:name="com.snapchat.kit.sdk.clientId"
            android:value="c8d397f5-a40b-4167-83e8-a659cfdf5478" />
        <meta-data
            android:name="com.snapchat.kit.sdk.redirectUrl"
            android:value="bitpic://snap-kit/oauth2" />
        <meta-data
            android:name="com.snapchat.kit.sdk.scopes"
            android:resource="@array/snap_connect_scopes" /> <!-- This should be a string array of scopes ! -->

        <activity
            android:name="com.snapchat.kit.sdk.SnapKitActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!--
                    Enter the parts of your redirect url below
                    e.g., if your redirect url is myapp://snap-kit/oauth2
                        android:scheme="myapp"
                        android:host="abc"
                        android:path="/xy/z"
                !
                -->
                <data
                    android:host="snap-kit"
                    android:path="/oauth2"
                    android:scheme="bitpic" />
            </intent-filter>
        </activity>
        <activity android:name=".BitmojiActivity" />
        <activity android:name=".BitmojiSelectActivity"/>
    </application>

</manifest>